form#change_password.form
    .close ➕
    p Change Password
    .currentPassword 
        label Current Password 
        input(type = "password", placeholder = 'Old Password' required)
    .newPassword 
        label New Password 
        input(type = "password" placeholder = 'New Password' required)
    .confirmNewPassword 
        label Confirm New Password 
        input(type = "password" placeholder = 'Confirm New Password' required)
    button(type = "submit") Submit
