form#change_password.form
    p Change Password
    .oldPassword 
        label Old Password 
        input(type = "password", placeholder = 'Old Password')
    .newPassword 
        label New Password 
        input(type = "password" placeholder = 'New Password')
    .confirmNewPassword 
        label Confirm New Password 
        input(type = "password" placeholder = 'Confirm New Password')
    button(type = "submit") Submit
