form.update__form
    h1 Update Blog
    div
        input#update__title(type='text' placeholder='Title' required='')
    div
        input#update__tags(type='text' placeholder='Tags : blogging, web' required='')
    div#update__image
        input(type = "file" accept = "image/*" id = "hero2" name = "hero2")
        label(for = "hero2") Choose Image
    div
        textarea#update__content(placeholder='Your Content' required='')
    button(type='submit') Update
