footer.footer
  p Made with &#x2764; by Sourabh Yadav
  div
    p Follow me on
    .social__links
      p
        a(href='#')
          img(src='https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png')
      p
        a(href='#')
          img(src='https://img.icons8.com/ios-glyphs/30/000000/github.png')
      p
        a(href='#')
          img(src='https://img.icons8.com/ios-glyphs/30/000000/linkedin-circled--v1.png')
  p &copy;copyright All rights reserved
