nav.navbar
  .title
    a(href = "http://127.0.0.1:3000/blogger/home") Blogger
  ul.tabs
    li
      a(href='/blogger/home' class= current==='home'?"highlight":"") Home
    li
      a(href='/blogger/blogs' class= current==='blogs'?"highlight":"") Blogs
    li
      a(href='/blogger/myblogs' class= current==='myBlogs'?"highlight":"") My Blogs
    li
      a(href='/blogger/create' class= current==='create'?"highlight":"") +Create
  if user
    .account
      p= user.userName.split(" ")[0]
      a(href = "http://127.0.0.1:3000/blogger/account")
        img.user__image(src= `${user.photo}`)
          
  else
    .authenticate 
        p#login Login 
        div |
        p#signup Sign Up
  