nav.navbar
  .title
    | Blogger
  ul.tabs
    li
      a(href='#') Home
    li
      a(href='/blogger/blogs') My Blogs
    li
      a(href='#') +Create
    .authenticate 
      a(href = "/blogger/login") Login 
      div /
      a(href = "/blogger/signup") Sign Up
  //- .account
  //-   img(src='../images/user.png' alt='user')