nav.navbar
  .title
    | Blogger
  ul.tabs
    li
      a(href='/blogger/home') Home
    li
      a(href='/blogger/blogs') Blogs
    li
      a(href='/blogger/myblogs') My Blogs
    li
      a(href='/blogger/create') +Create
  if user
    .account
      p= user.userName.split(" ")[0]
      a(href = "http://127.0.0.1:3000/blogger/account")
        div.user__image
  else
    .authenticate 
        p#login Login 
        div |
        p#signup Sign Up
  