nav.navbar
  .title
    | Blogger
  ul.tabs
    li
      a(href='#') Home
    li
      a(href='/blogger/blogs') My Blogs
    li
      a(href='#') +Create
    .authenticate 
      p#login Login 
      div |
      p#signup Sign Up
  //- .account
  //-   img(src='../images/user.png' alt='user')