nav.navbar
  .title
    a(href = "/home") Blogger
  ul.tabs
    li
      a(href='/home' class= current==='home'?"highlight":"") Home
    li
      a(href='/blogs' class= current==='blogs'?"highlight":"") Blogs
    li
      a(href='/myblogs' class= current==='myBlogs'?"highlight":"") My Blogs
    li
      a(href='/create' class= current==='create'?"highlight":"") +Create
  if user
    .account
      p= user.userName.split(" ")[0]
      a(href = "/account")
        img.user__image(src= user.photo ?`../../${user.photo}`:'../users/default.png')
          
  else
    .authenticate 
        p#login Login 
        div |
        p#signup Sign Up
  