form#login__form.form
  .close ➕
  p.form__title Login
  .fields
    label(for='email') Email
    input#loginemail(type='email' placeholder='xyz@gmail.com')
  .fields
    label(for='password') Password
    input#loginpassword(type='password' placeholder='abc@123')
  .actions 
    a(href= "/blogger/forgotpassword") forgot password?
    a(href= "/blogger/forgotpassword") sign up
  button(type='submit') Log In