form#login__form.form
  .close ➕
  p.form__title Login
  #loginemail.fields
    label(for='email') Email
    input(type='email' placeholder='xyz@gmail.com' autocomplete = false)
  #loginpassword.fields
    label(for='password') Password
    input(type='password' placeholder='abc@123')
  .actions 
    //- a(href= "/blogger/user/forgotpassword") forgot password?
    p sign up
  button#login__btn(type='submit') Log In