form#signup__form.form.signup
  .close ➕
  p.form__title Sign Up
  .fields
    label(for='Name') Password
    input#name(type='text' placeholder='Jonas')
  .fields
    label(for='email') Email
    input#signupemail(type='email' placeholder='xyz@gmail.com')
  .fields
    label(for='password') Password
    input#signuppassword(type='password' placeholder='abc@123')
  .fields
    label(for='confirm_password') Confirm Password
    input#confirm_password(type='password' placeholder='abc@123')
  button#signup__btn(type='submit') Sign Up