form.user_info_form
  .close ➕
  h1 User Info
  div
    label Full Name
    input(type='text' placeholder='Full Name' value= user.userName)
  div
    label Email
    input(type='text' placeholder='Jonasxyz@gmail.com' value= user.email)
  div
    label Website
    input(type='text' placeholder='xyz.com' value= user.website)
  div
    label Country
    input(type='text' placeholder='USA' value= user.country)
  div
    label State
    input(type='text' placeholder='California' value= user.state)
  div
    label City
    input(type='text' placeholder='Los Angeles' value= user.city)
  div
    label Linked In
    input(type='text' placeholder='xyz@linkedin.com' value= user.linkedIn)
  div
    label Twitter
    input(type='text' placeholder='xyz@twitter.com' value= user.twitter)
  div
    label Instagram
    input(type='text' placeholder='xyz@instagram.com' value= user.instagram)
  div
    label GitHub
    input(type='text' placeholder='xyz@github.com' value= user.github)
  button(type='submit') Update
