//- form.user_info_form
//-   .close ➕
//-   h1 User Info
//-   div.username
//-     label UserName
//-     input(type='text' placeholder='username' value= user.userName)
//-   div.email
//-     label Email
//-     input(type='text' placeholder='Jonasxyz@gmail.com' value= user.email)
//-   div.website
//-     label Website
//-     input(type='text' placeholder='xyz.com')
//-   div.country
//-     label Country
//-     input(type='text' placeholder='USA')
//-   div.state
//-     label State
//-     input(type='text' placeholder='California')
//-   div.city
//-     label City
//-     input(type='text' placeholder='Los Angeles')
//-   div.linkedin
//-     label Linked In
//-     input(type='text' placeholder='xyz@linkedin.com')
//-   div.twitter
//-     label Twitter
//-     input(type='text' placeholder='xyz@twitter.com')
//-   div.instagram
//-     label Instagram
//-     input(type='text' placeholder='xyz@instagram.com')
//-   div.github
//-     label GitHub
//-     input(type='text' placeholder='xyz@github.com')
//-   button(type='submit') Update
