extends base
block content 
    main
    section.create__form
        h1 New Blog
        form#create__form
            div
                input#title(type='text' placeholder='Title' required='')
            div
                input#tags(type='text' placeholder='Tags : blogging, web' required='')
            div#image
                input(type = "file" accept = "image/*" id = "hero" name = "hero")
                label(for = "hero") Choose Image
            div
                textarea#content(placeholder='Your Content' required='')
            button#publish(type='submit') Publish
