extends base

block home
    main
        section.hero
            .hero__content
                h1
                    | Let Your Thoughts 
                    br
                    | flow out
                p Share your knowledge with the world, Be a creator and get your work recognised.
            .hero__image
                img(src='../images/hero-image.svg' alt='hero-image')
        section.blogs
            p.blogs__heading Blogs
            
            .blogs_container
                .blog_card
                    .blog_bg
                        img(src='../images/blog-bg.jpg' alt='blog-bg')
                    .blog_info
                        p.blog_title An Intro to Web Development
                        .blog_inscript
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
                            | aperiam!
                        .blog_create
                            div Date: 06/10/2022
                            div Author: Sourabh Yadav
                        .tags
                            span Web development
                            span Programming
                .blog_card
                    .blog_bg
                        img(src='../images/blog-bg.jpg' alt='blog-bg')
                    .blog_info
                        p.blog_title An Intro to Web Development
                        .blog_inscript
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
                            | aperiam!
                        .blog_create
                            div Date: 06/10/2022
                            div Author: Sourabh Yadav
                        .tags
                            span Web development
                            span Programming

            .get__more
                a(href='http://127.0.0.1:3000/blogger/blogs') Get More
