doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../css/style.css')
  title Blogger
form.form
  p.form__title Login
  .fields
    label(for='email') Email
    input#email(type='email' placeholder='xyz@gmail.com')
  .fields
    label(for='password') Password
    input#password(type='password' placeholder='abc@123')
  button(type='submit') Log In