extends base

block content
    main
        section.myblogs 
            h1 My Blogs
            .filter
                p Search By Tags
                .blog__tags 
                    each tag in tagsList 
                        a(href = `/blogger/blogs?tags=${tag}`).blog__tag #{tag}
                
            .myblogs__container 
                div You do not have any blogs
