extend base

block content 
  main
    .user_container
      .user_pic
        .user_photo
      hr
      .user_info
        .user_details
          p Name
          p Sourabh Yadav
        .user_details
          p UserName
          p SourabhYadav348
        .user_details
          p Email 
          p SourabhYadav348
