extend base

block account 
  main
    .user_container
      .update__links
        a(href='#') Change Info
        a(href='#') Change Profile pic
        a(href='#') Change Password
        a(href='#') Log Out
        a(href='#') Delete Account
      .user_pic
        .user_photo
      .user_info
        .user_details
          p Name
          p Jonas
        .user_details
          p Email 
          p Jonasxyz@gmail.com
        .user_details
          p Website 
          p xyz.com
        .user_details
          p Country 
          p USA
        .user_details
          p State 
          p Los Angeles
        .user_details
          p City 
          p xyz
        .user_details
          p Linked In 
          p xyz@linkedin.com
        .user_details
          p Twitter
          p xyz@twitter.com
        .user_details
          p Instagram
          p xyz@instagram.com
        .user_details
          p GitHub 
          p xyz@github.com

