extend base

block content 
  main
    .user_container
      .update__links
        //- p.ChangeProfilePic Change Profile pic
        p.ChangePassword Change Password
        p.logOut Log Out
        p.delete Delete Account
      form.user_info
        .user_pic
          div
            img.user_photo(src= `../${user.photo}`)
          input(type = "file", accept  = "image/*", id = "photo", name = "photo")
          label(for = "photo") Choose
        #userName.user_details
          p UserName
          input(type = "text" placeholder = "userName" value= user.userName)
        .user_details
          p Email
          p= user.email
        #website.user_details
          p Website 
          input(type = "text" placeholder = "xyz.com" value= user.website?user.website:'' required)
        #country.user_details
          p Country 
          input(type = "text" placeholder = "USA" value= user.country?user.country:'')
        #state.user_details
          p State 
          input(type = "text" placeholder = "California" value= user.state?user.state:'')
        #city.user_details
          p City 
          input(type = "text" placeholder = "Los Angeles" value= user.city?user.city:'')
        #linkedin.user_details
          p Linked In 
          input(type = "text" placeholder = "xyz@linkedin.com" value= user.linkedin?user.linkedin:'')
        #twitter.user_details
          p Twitter
          input(type = "text" placeholder = "xyz@twitter.com" value= user.twitter?user.twitter:'')
        #instagram.user_details
          p Instagram
          input(type = "text" placeholder = "xyz@instagram.com" value= user.instagram?user.instagram:'')
        #github.user_details
          p GitHub 
          input(type = "text" placeholder = "xyz@github.com" value= user.gihub?user.github:'')
        button(id = "update" type = "submit") Update
