*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-width: 1440px;
    width: 100%;
    background-color: #282C35;
}

ul li{
    list-style: none;
    
}
a{
    color: white;
    text-decoration: none;
}
.alert {
    width: 100%;
    height: 4rem;
    position: absolute;
    top:0;
    left: 0;
    color: white;
    display: grid;
    place-items: center;
}
.error{
    background-color: #FF3131;
}
.success{
    background-color: #7CFC00;
}
.navbar{
    width: 100%;
    height: 6rem;
    background-color: rgb(227, 11, 92);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 999;
    /* box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.4); */
}

.title{
    font-size: 2.5rem;
    width: 20%;
    /* text-align: center; */
    color: white;
}
.tabs{
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: white;
}
.tabs li{
    font-size: 1.25rem;
}
.authenticate{
    width: 20%;
    color: white;
    display: flex;
    justify-content: flex-end;
    font-size: 1.25rem;
}
.authenticate div{
    font-size: 1.5rem;
}

.authenticate p{
    padding: 0.25rem 1rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
}
.authenticate p:hover{
    border: 2px solid white;
}
.account{
    width: 20%;
    text-align: right;
    color: white;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 1.5rem;
}

.user__image{
    width: 2.5rem;
    height: 2.5rem;
    background-color: lightblue;
    border-radius: 50%;
    border: 2px solid #282C35;
}
.filter{
    width: 80%;
    margin: 2rem auto;
    display: flex;
}
.filter p{
    font-size: 1.2rem;
    margin-right: 2rem;
    color: white;
}
/* #tag_filter{
    width: 60%;
    padding: 0.5rem 1rem;
    line-height: 1.5rem;
    font-size: 1.1rem;
    border-radius: 2rem;
    text-align: center;
} */
.blog__tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.blog__tag{
    background-color: rgb(227, 11, 92);
    color: white;
    font-style: italic;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.blogs_container{
    display: grid;
    min-height: 40vh;
    width: 80%;
    margin: 1rem auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap:5rem;
}
.blog_card{
    height: 30vw;
    border-radius: 1rem;
    padding: 1rem;
    color: black;
    background-color: white;
}
.blog_card .blog_bg{
    overflow: hidden;
    height: 65%;
    border-radius: 0.75rem;
    overflow: hidden;
}
.blog_card .blog_bg img{
    width: 100%;
    height: 100%;
    
    transition: all 0.5s ease-in-out;
}
.blog_card .blog_bg img:hover{
    transform: scale(1.25);
    
}
.blog_info{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog_title{
    text-align: center;
    font-size: 1.5rem;
    color: black;

}
.tags{
    font-style: italic;
    color: rgb(227, 11, 92);
    text-align: center;
}
.tags span{
    border: 1px solid rgb(227, 11, 92);
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    padding: 0 0.4rem;
    transition: all 0.5s ease-in-out;
}
.tags span:hover{
    background-color: rgb(227, 11, 92);
    color: white;
}

.blog_create{
    display: flex;
    justify-content: space-between;
}

/* user page */

.user_container{
    width: 50%;
    margin: 4rem auto;
    padding: 2rem 1rem;
    border: 2px solid rgb(227, 11, 92);
    border-radius: 2rem;
}
.update__links{
    position: absolute;
    top: 6rem;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 2rem;
    padding: 2rem 0;
    z-index: 1000;
}
.update__links p{
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
}
.update__links p:hover{
    background-color: rgb(227, 11, 92);
}

.user_pic{
    height: 10vw;
    text-align: center;
    border-bottom: 2px solid white;
    width: 90%;
    margin: auto;
}
.user_photo{
    width: 9rem;
    margin: auto;
    height: 9rem;
    border-radius: 50%;
    background-color: lightblue;
}
.user_info{
    width: 90%;
    margin: auto;
    padding: 4rem 0;
}
.user_details{
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-size: 1.2rem;
    column-gap: 4rem;
    margin-bottom: 3rem;
    color: white;
}

hr{
    color: rgb(227, 11, 92);
    background-color: rgb(227, 11, 92);
}

/* log In form  */
.layover{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    display: none;
}
.show__layover{
    display: block;
}
.form{
    position: absolute;
    left: 50%;
    top: -100%;
    background-color: #282C35;
    transform: translateX(-50%);
    width: 40%;
    height: 70vh;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid rgb(227, 11, 92);
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.4);
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    z-index: 999;
}
.show__form{
    top: 5rem;
}
.close{
    position:absolute;
    top: -2rem;
    right: -2rem;
    transform: rotate(45deg);
    cursor: pointer;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
}
.fields{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.form__title{
    text-align: center;
    font-size: 2rem;
}
.form input{
    /* margin: 2rem 0; */
    height: 2.5rem;
    text-align: center;
    border-radius: 0.25rem;
    border: none;
}
.form input:focus{
    outline: none;
}

.form button{
    height: 3rem;
    border: none;
    background-color: rgb(227, 11, 92);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: .25rem;
}
.signup{
    height: 80vh;
}

/* home style */
.hero{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 8rem 0;
}
.hero__content{
    flex-basis: 50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.hero__content h1{
    font-size: 4rem;
}
.hero__image{
    flex-basis: 50%;
}
.blogs{
    background-color: black;
    padding: 4rem 0;
}
.blogs__heading{
    font-size: 3rem;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4rem;
}
.get__more{
    text-align: center;
    margin-top: 4rem;
}
.get__more a{
    padding: 1rem 2rem;
    border: 2px solid rgb(227, 11, 92);
    color:rgb(227, 11, 92);
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
}
.get__more a:hover{
    color: white;
    background-color: rgb(227, 11, 92);
}
.footer{
    width: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(227, 11, 92);
    color: black;
    text-align: center;
    z-index: 999;
}
.footer .social__links{
    display: flex;
    justify-content: center;
    column-gap: 4rem;
    cursor: pointer;
    margin-top: 1rem;
}
/* create blog */
.create__form{

    min-height: 60vh;
}
.create__form h1{
    margin-top: 4rem;
    text-align: center;
    color:white;
    font-size: 3rem;
}
#create__form{
    width: 100%;
    padding: 2rem 10%;
}
#create__form div{
    margin-bottom: 2rem;
}
#create__form input{
    width: 100%;
}
#title{
    height: 4rem;
    font-size: 3rem;
    line-height: 4rem;
}
#image{
    height: 15rem;
    text-align: center;
}
#tags{
    height: 2rem;
    font-size: 1.25rem;
}
#create__form textarea{
    width: 100%;
    height: 30rem;
    padding: 1rem;
    font-size: 1.1rem;
}
#publish{
    width: 8rem;
    border: 2px solid rgb(227, 11, 92);
    border-radius: 0.5rem;
    height: 3rem;
    font-size: 1.25rem;
    color: rgb(227, 11, 92);
    transition: 0.5s ease-in-out;
    background: transparent;
    cursor: pointer;
}
#publish:hover{
    background-color: rgb(227, 11, 92);
    color: white
}
.myblogs h1{
    font-size: 3rem;
    color: white;
    margin-top: 2rem;
    text-align: center;
}
.myblogs__container{
    width: 80%;
    margin: auto;
    min-height: 40vh;
    color: white;
    border: 2px solid white;
    text-align: center;
    padding: 2rem;
    margin-bottom: 4rem;
}
.blog__template{
    color: white;
    padding: 2rem 8rem;
}
.blog__template h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}
.blog__template .blog__hero{
    width: 100%;
    margin: 2rem 0;
}
.blog__template .blog__hero img{
    width: 100%;
    height: 40rem;
}
.blog__template .blog__tags{
    margin: 1rem 0;
}
.blog__template .blog__tags p{
    padding: 0.25rem 1rem;
    border: 2px solid rgb(227, 11, 92);
    border-radius: 0.5rem;
    background-color: rgb(227, 11, 92);
}
.blog__template__info{
    display: flex;
    justify-content: space-between;
}
.blog__content{
    font-size: 1.25rem;
    line-height: 3rem;
    padding: 2rem 0;
    word-spacing: 0.5rem;
}